<h1>All Questions</h1>
<%= link_to "New Question", new_question_path, class: 'btn btn-primary'%>
<p><% @questions.each do |question| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <p><%= link_to question.title, question %></p>
      <% end %>
    </h4>
  </div>
</div>
