<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You created a new post titled - "<%= @post.title %>"</h1>
    <small>
      We have marked it as a favorite for you.  Now you will know when anyone comments on it.
    </small>
  </body>
</html>
